:root {
  --sand-950: oklch(0.3 0 70);
  --sand-900: oklch(0.4094 0.03 70);
  --sand-800: oklch(0.4904 0.06 70);
  --sand-700: oklch(0.5634 0.09 70);
  --sand-600: oklch(0.6315 0.12 70);
  --sand-500: oklch(0.6963 0.15 70);
  --sand-400: oklch(0.7585 0.18 70);
  --sand-300: oklch(0.8187 0.21 70);
  --sand-200: oklch(0.8772 0.24 70);
  --sand-100: oklch(0.9342 0.27 70);
  --sand-50: oklch(0.99 0.3 70);

  --water-950: oklch(0.2 0 175);
  --water-900: oklch(0.3109 0.03 175);
  --water-800: oklch(0.3932 0.06 175);
  --water-700: oklch(0.4672 0.09 175);
  --water-600: oklch(0.5363 0.12 175);
  --water-500: oklch(0.602 0.15 175);
  --water-400: oklch(0.6652 0.18 175);
  --water-300: oklch(0.7262 0.21 175);
  --water-200: oklch(0.7856 0.24 175);
  --water-100: oklch(0.8434 0.27 175);
  --water-50: oklch(0.9 0.3 175);

  --sky-950: oklch(0.15 0 230);
  --sky-900: oklch(0.2689 0.03 230);
  --sky-800: oklch(0.357 0.06 230);
  --sky-700: oklch(0.4363 0.09 230);
  --sky-600: oklch(0.5103 0.12 230);
  --sky-500: oklch(0.5808 0.15 230);
  --sky-400: oklch(0.6484 0.18 230);
  --sky-300: oklch(0.7138 0.21 230);
  --sky-200: oklch(0.7774 0.24 230);
  --sky-100: oklch(0.8394 0.27 230);
  --sky-50: oklch(0.9 0.3 230);

  --sand-muted-950: oklch(0.3 0 70);
  --sand-muted-900: oklch(0.4094 0.013 70);
  --sand-muted-800: oklch(0.4904 0.026 70);
  --sand-muted-700: oklch(0.5634 0.039 70);
  --sand-muted-600: oklch(0.6315 0.052 70);
  --sand-muted-500: oklch(0.6963 0.065 70);
  --sand-muted-400: oklch(0.7585 0.078 70);
  --sand-muted-300: oklch(0.8187 0.091 70);
  --sand-muted-200: oklch(0.8772 0.104 70);
  --sand-muted-100: oklch(0.9342 0.117 70);
  --sand-muted-50: oklch(0.99 0.13 70);

  --water-muted-950: oklch(0.2 0 175);
  --water-muted-900: oklch(0.3109 0.013 175);
  --water-muted-800: oklch(0.3932 0.026 175);
  --water-muted-700: oklch(0.4672 0.039 175);
  --water-muted-600: oklch(0.5363 0.052 175);
  --water-muted-500: oklch(0.602 0.065 175);
  --water-muted-400: oklch(0.6652 0.078 175);
  --water-muted-300: oklch(0.7262 0.091 175);
  --water-muted-200: oklch(0.7856 0.104 175);
  --water-muted-100: oklch(0.8434 0.117 175);
  --water-muted-50: oklch(0.9 0.13 175);

  --sky-muted-950: oklch(0.15 0 230);
  --sky-muted-900: oklch(0.2689 0.013 230);
  --sky-muted-800: oklch(0.357 0.026 230);
  --sky-muted-700: oklch(0.4363 0.039 230);
  --sky-muted-600: oklch(0.5103 0.052 230);
  --sky-muted-500: oklch(0.5808 0.065 230);
  --sky-muted-400: oklch(0.6484 0.078 230);
  --sky-muted-300: oklch(0.7138 0.091 230);
  --sky-muted-200: oklch(0.7774 0.104 230);
  --sky-muted-100: oklch(0.8394 0.117 230);
  --sky-muted-50: oklch(0.9 0.13 230);

  --sand-bg-black: oklch(0.15 0.09 70);
  --sand-bg-dark: oklch(0.25 0.09 70);
  --sand-bg-neutral: oklch(0.5 0.09 70);
  --sand-bg-bright: oklch(0.75 0.09 70);
  --sand-bg-white: oklch(0.99 0.09 70);

  --water-bg-black: oklch(0.15 0.09 175);
  --water-bg-dark: oklch(0.25 0.09 175);
  --water-bg-neutral: oklch(0.5 0.09 175);
  --water-bg-bright: oklch(0.75 0.09 175);
  --water-bg-white: oklch(0.99 0.09 175);

  --sky-bg-black: oklch(0.15 0.09 230);
  --sky-bg-dark: oklch(0.25 0.09 230);
  --sky-bg-neutral: oklch(0.5 0.09 230);
  --sky-bg-bright: oklch(0.75 0.09 230);
  --sky-bg-white: oklch(91.576% 0.05575 224.091);

  --gray-970: hsl(200, 5%, 3%);
  --gray-950: hsl(200, 5%, 5%);
  --gray-900: hsl(200, 5%, 10%);
  --gray-800: hsl(200, 5%, 20%);
  --gray-700: hsl(200, 5%, 30%);
  --gray-600: hsl(200, 5%, 40%);
  --gray-500: hsl(200, 5%, 50%);
  --gray-400: hsl(200, 5%, 60%);
  --gray-300: hsl(200, 5%, 70%);
  --gray-200: hsl(200, 5%, 80%);
  --gray-100: hsl(200, 5%, 90%);
  --gray-50: hsl(200, 5%, 95%);
  --gray-30: hsl(200, 5%, 97%);

  --gray-bg-black: hsl(200, 5%, 10%);
  --gray-bg-dark: hsl(200, 5%, 20%);
  --gray-bg-neutral: hsl(200, 5%, 50%);
  --gray-bg-bright: hsl(200, 5%, 80%);
  --gray-bg-white: hsl(200, 5%, 95%);
}
